/* Window Component Styles */

.window {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.window:focus {
  outline: none;
}

.window-body {
  flex: 1;
  overflow: auto;
  position: relative;
}

.title-bar {
  user-select: none;
}
